#form{
    justify-self: center;
    align-self: center;
    height: 300px;
    width: 320px;
    border: solid grey 1px;
    background-color: rgb(149, 149, 243,0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#account,#password {
    height: 70px;width: 220px;
    font-size: 35px;
}
#account{
    position: relative;left: 24px;
}
#signin{
    height: 50px;width: 100px;
    color: rgb(214, 120, 120);
}
#seepassword{
    align-self:center;
    width: 50px;
    height: 50px;
    background-color: transparent;/*背景變透明*/
    border: none;
    font-size: 30px;
    cursor: pointer;
}
*{
    user-select: none;
}